<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103275632153-sru2u290vs9n5hr7o1s7mfp12ovd814t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103275632153-sru2u290vs9n5hr7o1s7mfp12ovd814t</string>
	<key>API_KEY</key>
	<string>AIzaSyDUYLJ02qZaCaf2I4dJZJNtcBYr_RhDG9c</string>
	<key>GCM_SENDER_ID</key>
	<string>103275632153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>home.ToDoFire</string>
	<key>PROJECT_ID</key>
	<string>todofier-8f4f2</string>
	<key>STORAGE_BUCKET</key>
	<string>todofier-8f4f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103275632153:ios:19f5b216e322fab4</string>
	<key>DATABASE_URL</key>
	<string>https://todofier-8f4f2.firebaseio.com</string>
</dict>
</plist>